#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.form-container {
  margin-bottom: 20px;
}
.spinner-border {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.error-display {
  display: flex;
  justify-content: center;
}
.form-group {
  display: flex;
}
