{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Form Response</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    {% verbatim %}
    <div id="app">
      <div v-if="loading" class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="error-display" v-if="error">An Error occured when trying to load the forms.</div>
      <template v-else v-for="form in forms">
        <div :key="form.name" class="form-container col-sm-12 col-md-12 col-lg-6">
          <b-form :form="form" :url="url" :key="form.id" />
        </div>
      </template>
    </div>
    {% endverbatim %} {% if DEBUG %} 
    <script src="{% static "js/vue.js" %}"></script> {% else %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    {% endif %}
    <!-- <script src="{% static "js/" %}"></script> -->
    <!-- <script src="{% static "js/components/TextField.js" %}"></script>
      <script src="{% static "js/components/EnumField.js" %}"></script> -->
    <!-- <script src="{% static "js/components/Form.js" %}"></script> -->
    <script src="{% static "js/index.js" %}"></script>
      <script>
      window.HOST_URL = "{{URL}}";
      var app = new Vue({
          el: "#app",
          data: {
            forms: [],
            loading: false,
            error: false,
            url: window.HOST_URL
          },
          created() {
            this.loading = true;
            this.error = false;
            this.fetchData()
              .then(data => {
                this.loading = false;
                this.forms = data;
              })
              .catch(error => {
                this.loading = false;
                this.error = true;
              });
          },

          methods: {
            fetchData() {
              return fetch(`${this.url}risk-types/`)
                .then(res => {
                  if (!res.ok) {
                    throw Error(res.statusText);
                  }
                  return res;
                })
                .then(res => res.json())
                .then(data => {
                  return data.results;
                })
                .catch(error => {
                  throw error;
                });
            }
          }
        });
      </script>

<!-- <script type="module">
  import app from '{% static "js/index.js" %}';
  
</script> -->
  </body>
</html>
